on:
  pull_request: {}
  push:
    branches: [main]

name: Code Review

permissions:
  contents: read

env:
  OBSERVABLE_TELEMETRY_DISABLE: true
  SENTRY_RELEASE: ${{ github.sha }}
  SENTRY_ENVIRONMENT: test
  SENTRY_PUBLIC_KEY: test

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    defaults:
      run:
        working-directory: site

    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache-dependency-path: site/package-lock.json

      - run: uv sync --frozen
      - run: uv run npm ci --omit=dev
      - run: uv run npm run build

  audit:
    name: Audit
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    defaults:
      run:
        working-directory: site

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache-dependency-path: site/package-lock.json

      - run: npm audit

  lint:
    name: Lint
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    defaults:
      run:
        working-directory: site

    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache-dependency-path: site/package-lock.json

      - run: uv sync --frozen
      - run: uv run npm ci
      - run: uv run npm run lint

  test:
    name: Test
    runs-on: ubuntu-24.04
    timeout-minutes: 30

    defaults:
      run:
        working-directory: site

    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache-dependency-path: site/package-lock.json

      - run: uv sync --frozen
      - run: uv run npm ci
      - run: uv run npx playwright install --with-deps chromium
      - run: uv run npm run test

      - uses: actions/upload-artifact@v5
        if: always() && !cancelled()
        with:
          name: playwright-report
          path: site/playwright-report/
          retention-days: 7
